# 01A Data Cleansing Weather

## Imports

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
%matplotlib inline

## Read Data

In [2]:
weather_df = pd.read_csv('../west_nile/west_nile/input/weather.csv')

## One Hot Encode CodeSum Data

In [3]:
codes = {code: [0]*weather_df.shape[0] for codes in weather_df.CodeSum.unique() for code in codes.split()}

weather_df = weather_df.join(pd.DataFrame(codes))
for i, codesum in enumerate(weather_df.CodeSum):
    for code in codesum.split():
        weather_df.at[i, code] = 1
        
codes_df = weather_df.groupby('Date', as_index=True)[list(codes.keys())].max()

## Calculate Missing Tavg Values

In [4]:
missing_Tavg = weather_df[weather_df.Tavg == 'M'].index

weather_df.loc[missing_Tavg, 'Tavg'] = round((weather_df.loc[missing_Tavg, 'Tmax'] 
                                              + weather_df.loc[missing_Tavg, 'Tmin'])/2)

## Convert Tavg to Int

In [5]:
weather_df.Tavg = weather_df.Tavg.astype(int)

In [6]:
temperature_df = weather_df.groupby('Date')['Tavg','Tmax','Tmin'].mean()

## Drop Unnecessary Columns
- Incorporate Adam's Work

In [7]:
cols_drop = ['Depart','DewPoint','WetBulb','Heat','Cool','Sunrise','Sunset','CodeSum','Depth','Water1',
             'SnowFall','PrecipTotal','StnPressure','SeaLevel','ResultSpeed','ResultDir','AvgSpeed']
weather_df = weather_df.drop(labels=cols_drop, axis=1)

## Export codes_df and temperature_df

In [8]:
with open('../Cleansed_Data/codes_df.pkl', 'wb') as f:
    pickle.dump(codes_df, f)
    
with open('../Cleansed_Data/temperature_df.pkl', 'wb') as f:
    pickle.dump(temperature_df, f)

# New Weather Processing With Adam  (Delete This later)

## Re-import weather data

In [78]:
weather = pd.read_csv('../west_nile/west_nile/input/weather.csv')

## Functions

In [79]:
def celsius(x):
    c = ((x - 32) * 5.0)/9.0
    return float(c)

## Impute missing Tavg Values and Convert column to Int

In [80]:
missing_Tavg = weather[weather.Tavg == 'M'].index

weather.loc[missing_Tavg, 'Tavg'] = round((weather.loc[missing_Tavg, 'Tmax'] 
                                              + weather.loc[missing_Tavg, 'Tmin'])/2)
weather.Tavg = weather.Tavg.astype(int)

## Impute missing AvgSpeed and Convert column to float

In [81]:
median_wind = weather[weather.AvgSpeed!='M'].AvgSpeed.median()
weather.AvgSpeed.replace('M', median_wind, inplace=True)
weather.AvgSpeed = weather.AvgSpeed.astype(float)

## Create Temperature Columns in Celsius

In [82]:
weather['TavgC'] = weather['Tavg'].apply(celsius)
weather['TminC'] = weather['Tmin'].apply(celsius)
weather['TmaxC'] = weather['Tmax'].apply(celsius)

## Calculate Relative Humidity

In [83]:
weather['relative_humidity'] = 100 * (np.exp((17.625 * weather.DewPoint.apply(celsius)) / 
                                             (243.04 + weather.DewPoint.apply(celsius))) / 
                                      np.exp((17.625 * weather.Tavg.apply(celsius)) / 
                                             (243.04 + weather.Tavg.apply(celsius))))

## Convert DewPoint to Celsius

In [84]:
weather['DewPointC'] = weather['DewPoint'].apply(celsius)

## Add rain boolean

#### Combining - Rain/Drizzle:

- TS THUNDERSTORM
- GR HAIL
- RA RAIN
- DZ DRIZZLE
- SH SHOWER

In [85]:
rain = ['RA', 'DZ', 'SH', 'TS', 'GR']

In [86]:
def filter_codesum(x):
    for code in rain:
        if code in x:
            return 1
        else:
            return 0

In [87]:
weather['rain'] = weather.CodeSum.apply(filter_codesum)

## Add Ideal Environment boolean

In [88]:
weather.loc[(weather['TavgC'] >= 10) & (weather['TavgC'] <= 35) & 
            (weather['relative_humidity'] <= 95) & (weather['relative_humidity'] >= 40) & 
            (weather['AvgSpeed'] <= 6), 
            'ideal_environment']=1

weather.ideal_environment.fillna(0, inplace=True)

## Add Ideal Feeding Conditions boolean

In [89]:
weather.loc[(weather['TavgC'] >= 15) & (weather['TavgC'] <= 30) & 
            (weather['relative_humidity'] >= 8) & (weather['relative_humidity'] <= 72) & 
            (weather['AvgSpeed'] <= 6), 
            'ideal_feeding']=1

weather.ideal_feeding.fillna(0, inplace=True)

## Average values to drop station

In [90]:
new_weather_df = weather.groupby('Date')['TavgC','TmaxC','TminC','DewPointC','relative_humidity',
                                         'rain','ideal_environment','ideal_feeding'].mean()

## Calculate Photoperiod

In [91]:
sun = weather[weather.Station == 1][['Date','Sunset','Sunrise']]

In [92]:
sun['sundiff'] = sun.apply(lambda x: int(x.Sunset) - int(x.Sunrise), axis=1)

In [93]:
sun['photoperiod'] =sun.sundiff.map(lambda x: int(str(x)[:2]) + int(str(x)[-2:])/60)

In [94]:
sun.index = sun.Date

In [95]:
sun = sun.drop(['Date','Sunset','Sunrise','sundiff'], axis=1)

In [96]:
sun.head()

            photoperiod
Date
2007-05-01    14.016667
2007-05-02    14.050000
2007-05-03    14.083333
2007-05-04    14.133333
2007-05-05    14.166667

## Join Photoperiod with new_weather_df

In [97]:
new_weather_df['Date'] = new_weather_df.index

In [98]:
new_weather_df = new_weather_df.join(sun, on='Date')

,TavgC,TmaxC,TminC,DewPointC,relative_humidity,rain,ideal_environment,ideal_feeding,photoperiod
Date,,,,,,,,,
2007-05-01,19.722222,28.611111,10.555556,10.555556,55.482501,0.0,0.0,0.0,14.016667
2007-05-02,10.833333,15.277778,5.833333,5.555556,69.905385,0.0,0.0,0.0,14.050000
2007-05-03,13.888889,19.166667,8.333333,4.444444,52.966288,0.0,0.0,0.0,14.083333
2007-05-04,16.111111,22.222222,10.000000,5.277778,48.837189,0.5,0.0,0.0,14.133333
2007-05-05,15.555556,18.888889,11.944444,3.611111,44.842896,0.0,0.0,0.0,14.166667
2007-05-06,15.277778,20.000000,10.277778,-1.111111,32.524713,0.0,0.0,0.0,14.216667
2007-05-07,18.888889,28.611111,9.166667,4.444444,38.604051,0.5,0.0,0.0,14.250000
2007-05-08,20.555556,27.222222,13.888889,14.166667,66.882020,0.0,1.0,1.0,14.300000
2007-05-09,20.833333,24.722222,16.666667,15.277778,70.530226,0.0,0.5,0.5,14.333333
2007-05-10,21.388889,28.611111,14.166667,11.111111,51.947650,0.0,1.0,1.0,14.366667
2007-05-11,16.111111,21.944444,10.000000,6.111111,51.541931,0.0,0.0,0.0,14.400000
2007-05-12,13.055556,18.055556,8.055556,2.500000,48.721051,0.0,0.0,0.0,15.100000
2007-05-13,13.611111,20.555556,6.388889,0.277778,40.096947,0.0,0.0,0.0,15.133333
2007-05-14,22.500000,32.222222,12.777778,7.777778,38.801155,0.0,0.0,0.0,15.166667
2007-05-15,20.555556,27.222222,13.611111,13.333333,63.268000,1.0,0.0,0.0,15.200000
2007-05-16,12.777778,18.333333,6.944444,5.833333,62.683505,1.0,0.0,0.0,15.233333
2007-05-17,11.666667,16.388889,6.388889,0.000000,44.606027,0.0,0.0,0.0,15.266667
2007-05-18,13.888889,21.388889,5.833333,-0.833333,36.304869,0.0,0.0,0.0,15.300000
2007-05-19,20.000000,26.666667,13.333333,3.333333,33.255129,0.0,0.0,0.0,15.333333
2007-05-20,13.611111,20.555556,6.388889,4.722222,54.947418,1.0,0.0,0.0,15.366667
2007-05-21,16.944444,26.388889,7.222222,10.000000,63.635251,0.0,0.0,0.0,15.400000
2007-05-22,22.500000,30.555556,14.166667,7.222222,37.501489,0.0,0.0,0.0,15.433333
2007-05-23,24.722222,31.666667,17.222222,9.166667,37.372879,0.0,0.0,0.0,15.450000
2007-05-24,24.722222,31.111111,18.055556,11.944444,44.884819,1.0,0.0,0.0,15.483333
2007-05-25,16.944444,20.000000,13.611111,7.222222,52.803432,0.5,0.0,0.0,15.516667
2007-05-26,14.722222,19.722222,9.722222,12.777778,88.276347,1.0,0.0,0.0,15.550000
2007-05-27,19.166667,23.888889,14.444444,8.888889,51.358671,1.0,0.0,0.0,15.566667
2007-05-28,18.333333,25.277778,11.111111,8.888889,54.130642,0.5,1.0,1.0,15.583333
2007-05-29,24.166667,31.111111,16.944444,14.722222,55.614546,0.0,0.0,0.0,15.600000
2007-05-30,25.833333,31.111111,20.000000,14.166667,48.663448,0.0,0.0,0.0,15.633333
...,...,...,...,...,...,...,...,...,...
2014-10-02,20.833333,23.055556,18.055556,16.666667,77.087315,1.0,0.0,0.0,12.383333
2014-10-03,13.055556,19.166667,6.944444,7.777778,70.346834,1.0,0.0,0.0,12.333333
2014-10-04,5.555556,8.888889,2.222222,1.388889,74.565315,1.0,0.0,0.0,12.283333
2014-10-05,8.611111,13.055556,4.166667,1.944444,62.978382,1.0,0.0,0.0,12.233333
2014-10-06,12.222222,16.666667,7.222222,3.888889,56.806565,0.0,0.0,0.0,12.183333
2014-10-07,14.444444,19.722222,9.166667,6.666667,59.560020,0.0,0.0,0.0,12.150000
2014-10-08,13.611111,18.888889,7.777778,1.944444,45.199599,0.0,0.0,0.0,12.100000
2014-10-09,12.777778,17.222222,8.055556,1.666667,46.788379,0.0,0.5,0.0,12.050000
2014-10-10,10.277778,14.722222,5.277778,4.166667,65.888299,0.0,0.5,0.0,12.016667
2014-10-11,9.444444,15.277778,3.333333,1.666667,58.318837,0.0,0.5,0.0,11.966667
2014-10-12,11.666667,17.500000,5.277778,6.111111,68.787234,1.0,0.0,0.0,11.250000
2014-10-13,17.500000,20.555556,14.166667,15.277778,86.810568,1.0,0.0,0.0,11.200000
2014-10-14,15.555556,18.888889,11.666667,14.444444,93.101282,1.0,0.0,0.0,11.150000
2014-10-15,12.500000,13.611111,10.833333,11.111111,91.269879,1.0,0.0,0.0,11.116667
2014-10-16,12.500000,13.888889,10.833333,10.277778,86.324573,0.0,0.0,0.0,11.066667
2014-10-17,13.055556,16.944444,9.166667,8.333333,73.045197,0.0,0.0,0.0,11.016667
2014-10-18,6.944444,10.555556,3.055556,3.888889,80.914998,1.0,0.0,0.0,11.650000
2014-10-19,7.500000,13.055556,1.388889,3.888889,77.897731,0.0,0.0,0.0,11.600000
2014-10-20,13.888889,18.611111,8.888889,7.222222,64.138093,0.0,0.0,0.0,11.550000
2014-10-21,10.277778,11.944444,8.333333,4.444444,67.143465,0.0,0.0,0.0,11.500000
2014-10-22,8.888889,13.333333,3.888889,3.333333,68.367726,0.0,0.5,0.0,10.800000
2014-10-23,10.000000,15.833333,3.611111,4.722222,69.851901,0.0,0.0,0.0,10.750000
2014-10-24,15.833333,19.722222,11.666667,8.333333,61.044666,0.0,1.0,1.0,10.716667
2014-10-25,16.944444,23.055556,10.277778,4.722222,44.393514,0.0,0.0,0.0,10.666667
2014-10-26,12.222222,18.333333,6.111111,0.277778,43.885296,0.0,1.0,0.0,10.616667
2014-10-27,18.611111,25.555556,11.388889,10.833333,60.601721,0.5,0.0,0.0,10.583333
2014-10-28,13.888889,19.444444,8.055556,3.888889,50.940587,0.5,0.0,0.0,10.533333
2014-10-29,6.666667,9.444444,3.333333,0.555556,65.027471,0.0,0.0,0.0,10.500000
2014-10-30,6.388889,11.111111,1.388889,1.388889,70.438585,0.5,0.0,0.0,10.450000
2014-10-31,5.000000,8.888889,0.833333,-2.777778,57.212782,1.0,0.0,0.0,10.400000

In [99]:
new_weather_df = new_weather_df.drop(['Date'], axis=1)

In [101]:
new_weather_df.head()

,TavgC,TmaxC,TminC,DewPointC,relative_humidity,rain,ideal_environment,ideal_feeding,photoperiod
Date,,,,,,,,,
2007-05-01,19.722222,28.611111,10.555556,10.555556,55.482501,0.0,0.0,0.0,14.016667
2007-05-02,10.833333,15.277778,5.833333,5.555556,69.905385,0.0,0.0,0.0,14.050000
2007-05-03,13.888889,19.166667,8.333333,4.444444,52.966288,0.0,0.0,0.0,14.083333
2007-05-04,16.111111,22.222222,10.000000,5.277778,48.837189,0.5,0.0,0.0,14.133333
2007-05-05,15.555556,18.888889,11.944444,3.611111,44.842896,0.0,0.0,0.0,14.166667

In [102]:
with open('../Cleansed_Data/new_weather_df.pkl', 'wb') as f:
    pickle.dump(new_weather_df, f)

In [103]:
with open('../Cleansed_Data/new_weather_df.pkl', 'rb') as f:
    new_weather_df = pickle.load(f)