## Imports

In [1]:
import pandas as pd
import numpy as np
import pickle

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Import Model and Data

In [2]:
with open('../Models/rf.pkl', 'rb') as f:
    rf = pickle.load(f)

## Import prediction file

In [3]:
submission_df = pd.read_csv('../Cleansed_Data/submission_rf.csv', index_col=0)

## Import Raw Submission Data

In [4]:
submission_raw = pd.read_csv('../west_nile/west_nile/input/test.csv', index_col=0)

In [5]:
submission_raw['WNV'] = submission_df

In [7]:
spray_here = submission_raw[submission_raw.WNV > 0.2]

In [9]:
spray_here.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,WNV
Id,,,,,,,,,,,
17942,2008-08-12,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,0.207197
17943,2008-08-12,"ORD Terminal 5, O'Hare International Airport, ...",CULEX RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,0.226405
17944,2008-08-12,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,0.201333
17946,2008-08-12,"ORD Terminal 5, O'Hare International Airport, ...",CULEX TERRITANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,0.201333
17947,2008-08-12,"ORD Terminal 5, O'Hare International Airport, ...",CULEX TARSALIS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,0.201333

In [10]:
spray_here.Species.value_counts()

CULEX PIPIENS/RESTUANS    615
CULEX RESTUANS            299
CULEX PIPIENS             174
CULEX TERRITANS           141
UNSPECIFIED CULEX         139
CULEX ERRATICUS           139
CULEX TARSALIS            135
CULEX SALINARIUS           15
Name: Species, dtype: int64